[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ckeditor = "==5.4.0"
pylint = "*"
pylint-celery = "*"
pylint-django = "*"
Django = "==2.0.2"
Pillow = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.10"
